:root{
    --main-blue: #01161e;
    --main-bg: #eff6e0;
    --sub-blue: #124559;
    --sub-btn: #598392;
}

body{
    background: var(--main-bg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-wrap: break-word;
}

.btn-primary{
    --bs-btn-bg: var(--sub-btn);
    --bs-btn-border-color: var(--sub-btn);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--sub-btn);
    --bs-btn-hover-border-color: white;
    --bs-btn-active-bg: var(--sub-btn);
    --bs-btn-active-border-color: white;
}

.contact{
    background: var(--sub-blue);
    color: white;
    padding-top: 0.5em;
    padding-left: 1em;
}

.contact a{
    color: white;
}

.container{
    margin: 0;
    max-width: 100%;
}

.name{
    background-color: var(--main-blue);
    color: white;
    padding-top: 1em;
    padding-left: 1em;
}

.name img{
    width: 9em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.projects{
    color: black;
    padding: 0.5em 1em 0;
}

.projects h2, .projects h4{
    margin-bottom: 0.5em;
}